<?xml version="1.0"?>
<packages>
    <package id="7zip.install" />
    <package id="git.install" packageParameters="/NoAutoCrlf /SChannel" />
    <package id="intellijidea-community" />
    <package id="microsoft-windows-terminal" />
    <package id="mysql.workbench" />
    <package id="nvm.portable" />
    <package id="powershell-core" installArguments="ADD_EXPLORER_CONTEXT_MENU_OPENPOWERSHELL=1" />
    <package id="python3" />
    <package id="sakuraeditor" packageParameters="/Tasks:!quicklaunch,fileassoc,startup" />
    <package id="terraform" version="0.11.13" />
    <package id="tortoisegit" />
    <package id="vscode" />
    <package id="winmerge" />
</packages>
